!!!
%html
  %head
    %title= current_page.data.title || "UI & UX Designer / Portfolio of Laura Elizabeth"
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "Hi, i’m Laura Elizabeth. I create clean & functional web apps for developers & creative people with great ideas.", name: "description"}/
    %meta{content: "laura, elizabeth, laurium, uk, designer, design, ui, ux, user, interface, experience, web, app, application, portfolio", name: "keywords"}/
    %meta{content: "Laura Elizabeth", name: "author"}/
    %meta{content: "Laura Elizabeth", name: "copyright"}/
    %meta{content: "index, follow", name: "robots"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300,700", type: "text/css"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700", type: "text/css"}

    = stylesheet_link_tag "main"
    = partial("/partials/javascripts/head")

  %body{class: page_classes}
    = partial("/partials/header")
    = yield
    - unless ["404/index.html"].include?(current_path)
      = partial("/partials/footer")

    = partial("/partials/javascripts/bottom")
    = javascript_include_tag "main"
